/* --- MENU ICON --- */

#header a.menu-toggler, #header a.menu-toggler i {
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}

#header a.menu-toggler i {
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    transition-timing-function: cubic-bezier(0.8, 0.70, 0.5, 0.150);
}

#header a.menu-toggler i.row1, #header a.menu-toggler i.row2, #header a.menu-toggler i.row3 {
    -ms-transform-origin: 0% 0%;
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
}

@-webkit-keyframes row1 {
    15% {
        -ms-transform: scale(1.35, 1); /* IE 9 */
        -webkit-transform: scale(1.35, 1); /* Safari */
        transform: scale(1.35, 1);
    }

    30% {
        -ms-transform: scale(0.9, 1); /* IE 9 */
        -webkit-transform: scale(0.9, 1); /* Safari */
        transform: scale(0.9, 1);
    }

    50% {
        -ms-transform: scale(1.2, 1); /* IE 9 */
        -webkit-transform: scale(1.2, 1); /* Safari */
        transform: scale(1.2, 1);
    }

    70% {
        -ms-transform: scale(0.95, 1); /* IE 9 */
        -webkit-transform: scale(0.95, 1); /* Safari */
        transform: scale(0.95, 1);
    }

    85% {
        -ms-transform: scale(1.02, 1); /* IE 9 */
        -webkit-transform: scale(1.02, 1); /* Safari */
        transform: scale(1.02, 1);
    }

    100% {
        -ms-transform: scale(1, 1); /* IE 9 */
        -webkit-transform: scale(1, 1); /* Safari */
        transform: scale(1, 1);
    }
}

@keyframes row1 {
    15% {
        -ms-transform: scale(1.35, 1); /* IE 9 */
        -webkit-transform: scale(1.35, 1); /* Safari */
        transform: scale(1.35, 1);
    }

    30% {
        -ms-transform: scale(0.9, 1); /* IE 9 */
        -webkit-transform: scale(0.9, 1); /* Safari */
        transform: scale(0.9, 1);
    }

    50% {
        -ms-transform: scale(1.2, 1); /* IE 9 */
        -webkit-transform: scale(1.2, 1); /* Safari */
        transform: scale(1.2, 1);
    }

    70% {
        -ms-transform: scale(0.95, 1); /* IE 9 */
        -webkit-transform: scale(0.95, 1); /* Safari */
        transform: scale(0.95, 1);
    }

    85% {
        -ms-transform: scale(1.02, 1); /* IE 9 */
        -webkit-transform: scale(1.02, 1); /* Safari */
        transform: scale(1.02, 1);
    }

    100% {
        -ms-transform: scale(1, 1); /* IE 9 */
        -webkit-transform: scale(1, 1); /* Safari */
        transform: scale(1, 1);
    }
}

#header a.menu-toggler:hover i.row1 {
    -webkit-animation-name: row1;
    animation-name: row1;
}

#header a.menu-toggler:hover i.row3 {
    -webkit-animation-name: row1;
    animation-name: row1;
}

@-webkit-keyframes row2 {
    15% {
        -ms-transform: scale(0.65, 1); /* IE 9 */
        -webkit-transform: scale(0.65, 1); /* Safari */
        transform: scale(0.65, 1);
    }

    30% {
        -ms-transform: scale(1.1, 1); /* IE 9 */
        -webkit-transform: scale(1.1, 1); /* Safari */
        transform: scale(1.1, 1);
    }

    50% {
        -ms-transform: scale(0.85, 1); /* IE 9 */
        -webkit-transform: scale(0.85, 1); /* Safari */
        transform: scale(0.85, 1);
    }

    70% {
        -ms-transform: scale(1.05, 1); /* IE 9 */
        -webkit-transform: scale(1.05, 1); /* Safari */
        transform: scale(1.05, 1);
    }

    85% {
        -ms-transform: scale(0.98, 1); /* IE 9 */
        -webkit-transform: scale(0.98, 1); /* Safari */
        transform: scale(0.98, 1);
    }

    100% {
        -ms-transform: scale(1, 1); /* IE 9 */
        -webkit-transform: scale(1, 1); /* Safari */
        transform: scale(1, 1);
    }
}

@keyframes row2 {
    15% {
        -ms-transform: scale(0.65, 1); /* IE 9 */
        -webkit-transform: scale(0.65, 1); /* Safari */
        transform: scale(0.65, 1);
    }

    30% {
        -ms-transform: scale(1.1, 1); /* IE 9 */
        -webkit-transform: scale(1.1, 1); /* Safari */
        transform: scale(1.1, 1);
    }

    50% {
        -ms-transform: scale(0.85, 1); /* IE 9 */
        -webkit-transform: scale(0.85, 1); /* Safari */
        transform: scale(0.85, 1);
    }

    70% {
        -ms-transform: scale(1.05, 1); /* IE 9 */
        -webkit-transform: scale(1.05, 1); /* Safari */
        transform: scale(1.05, 1);
    }

    85% {
        -ms-transform: scale(0.98, 1); /* IE 9 */
        -webkit-transform: scale(0.98, 1); /* Safari */
        transform: scale(0.98, 1);
    }

    100% {
        -ms-transform: scale(1, 1); /* IE 9 */
        -webkit-transform: scale(1, 1); /* Safari */
        transform: scale(1, 1);
    }
}

#header a.menu-toggler:hover i.row2 {
    -webkit-animation-name: row2;
    animation-name: row2;
}