/* --- MAIN STYLES --- */

ul.header-menu.header-inline-menu li {
    margin-right: 0px;
}

.tnt-infowindow {
    padding: 30px;
    width: 600px;
    top: 180px;
}

    .tnt-infowindow .search-place {
        width: 175px;
    }

/* --- HEADER --- */

#header a.logo {
    margin-right: 0;
}

ul.header-menu.header-inline-menu li a {
    padding: 17px 13px 24px 11px;
}

/* --- FOOTER --- */

#footer .footer-links a.btn-outline {
    margin: 0 0 25px;
}

/* --- LISTING --- */



.hotel-info-block .hotel-info .hotel-content .hotel-price-block {
    margin-left: 30px;
}

/*.hotel-info-block .hotel-info .btn-hotel-price {
    padding: 10px 20px 8px;
}

.hotel-facilities li {
    max-width: 72px;
    padding-right: 2px;
}*/