/* --- MAIN STYLES --- */


.bg-sm {
    height: 200px;
}

.tnt-infowindow {
    padding: 15px;
    width: 485px;
    left: 15px;
}

    .tnt-infowindow .tnt-close {
        top: 3px;
        right: 3px;
    }

    .tnt-infowindow .search-place {
        width: 150px;
    }

    .tnt-infowindow .search-date .form-group {
        padding: 0;
    }

        .tnt-infowindow .search-date .form-group #homeSearchDate {
            padding-right: 0;
            width: 105px;
        }

/* --- FOOTER --- */

#footer span.icon {
    font-size: 24px;
}
#footer span.icon.icon-big {font-size: 28px; margin-top: 13px;}

#footer .footer-links {
    padding-left: 10px;
}

    #footer .footer-links ul li a {
        font-size: 14px;
        line-height: 18px;
    }

/* --- INDEX --- */

#home-map {
    height: 798px;
}

    .map .operators-bar .operators-list {
        padding: 9px 12px 9px 8px;
    }

        .map .operators-bar img {
            height: 36px;
        }

            .map .operators-bar .operators-list-link img {
                margin: 6px 0;
                height: 24px;
            }

    .map .operators-bar-block .order-block {
        padding: 2px;
    }

        .map .operators-bar-block .order-block .orders-amount {
            padding-left: 4px;
        }

.tour-pick-up .tour-duration .btn-group {
    margin: 0 10px;
}

    .tour-pick-up .tour-duration .btn-group .btn {
        padding: 10px 20px 8px;
    }

        .tour-pick-up .tour-duration .btn-group .btn.dropdown-toggle {
            padding-left: 20px;
            padding-right: 20px;
        }

/* --- LISTING --- */

.filters-active-block {
    margin-bottom: 0;
}

.prepare-tour .form-group-lg, .prepare-tour .btn-submit {
    margin-top: 15px;
}

.hotel-info-block .hotel-info .hotel-top .hotel-loc {
    margin: 0;
}

/*.hotel-info-block .hotel-info {
    padding-left: 15px;
}*/