/* --- MAIN STYLES --- */

@media (min-width: 1200px) {
    ul.header-menu.header-inline-menu li {
        margin-right: 0px;
    }
    ul.header-menu.header-inline-menu > li:last-child {
        display: none !important;
    }
}

@media (min-width: 1366px) {
    ul.header-menu.header-inline-menu li {
        margin-right: 5px;
    }
}

@media (min-width: 1550px) {
    ul.header-menu.header-inline-menu li:last-child {
        margin-right: 0px;
        display: inline-block !important;
    }
}

#header a.logo {
    margin-right: calc(25% - 240px);
}