/* --- MAIN STYLES --- */

.tnt-infowindow {
    margin: 0 15px;
    width: calc(100% - 30px);
    top: 15px;
    left: 0;
}

    .tnt-infowindow .search-place {
        margin-bottom: 15px;
        width: 125px;
    }

@media (min-width: 650px) {
    .tnt-infowindow {
        margin: 0 10px;
        width: calc(100% - 20px);
        top: 350px;
    }
}
@media (max-width: 650px) {
    .tnt-infowindow .tnt-infowindow-section {
        width: 100% !important;
    }
    .tnt-infowindow .tnt-infowindow-section:first-child {text-align: center;}

        .tnt-infowindow .tnt-infowindow-section .calendar-block {
            display: inline-block;
        }
}

/* --- HEADER --- */

@media (min-width: 150px) {
    #header .header-profile .header-profile-image {display: none;}
    #header .header-profile .header-profile-settings {display: none;}
}

@media (min-width: 350px) {
    #header .header-profile .header-profile-settings {display: inline-block;}
}

@media (min-width: 450px) {
    #header .header-profile .header-profile-image {display: inline-block;}
}

/* --- INDEX --- */

.map {
    height: auto;
}

#home-map {
    height: 500px;
    position: static;
}

    .map .disconut-tour {
        margin: 0 0 0 -32px;
        width: 64px;
    }

        .map .disconut-tour p {
            font-size: 18px;
            line-height: 21px;
        }

        .map .disconut-tour img {
            width: 100%;
        }

.tour-pick-up .tour-duration {
    margin-top: 20px;
}

    .tour-pick-up .tour-duration .btn-group {
        margin: 0 5px;
    }

        .tour-pick-up .tour-duration .btn-group .btn, .tour-pick-up .tour-duration .btn-group .btn.dropdown-toggle {
            padding: 10px 15px 8px;
        }


/* --- LISTING --- */

.filters-sidebar-block {
    position: static;
}

.filters-sidebar {
    min-height: 0;
}

.hotel-info-block .background {
    width: 100%;
    float: none;
}

.hotel-info-block .hotel-info {
    width: 100%;
    float: left;
}

    .hotel-info-block .hotel-info .hotel-top, .hotel-info-block .hotel-info .hotel-content {
        padding-left: 15px;
    }
